@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway|Roboto");
body {
  position: relative;
  background-color: #535353; }

html, body {
  min-height: 100%; }

h1 {
  font-size: 2em;
  font-family: "Cinzel Decorative", cursive; }

button {
  font-family: "Roboto", sans-serif; }

p {
  font-family: "Raleway", sans-serif; }

.main-heading {
  margin-top: 30px;
  color: #fff;
  text-align: center;
  font-size: 4em; }

.red-color {
  color: red; }

.fa-info-circle {
  font-size: 100px;
  margin: 30px;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0; }
  .fa-info-circle:hover {
    color: #B9B9B9;
    cursor: pointer; }

.col-inner {
  position: relative;
  border: 4px #000 solid;
  padding: 15px;
  text-align: center;
  margin-top: 15px;
  background-color: #B9B9B9; }
  .col-inner__selected {
    display: none;
    padding: 15px;
    margin: -15px;
    background: white;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.95;
    font-size: 2em; }
    .col-inner__selected--center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 15px; }
    .col-inner__selected--heading-font {
      font-family: "Cinzel Decorative", cursive;
      font-size: 1.1em; }
  .col-inner__btn {
    background-color: teal;
    width: 100%; }
  .col-inner__img {
    width: 60%;
    height: auto; }
