@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway|Roboto");
body {
  position: relative;
  background-image: url("../img/photos/forest-1.jpg"); }

html, body {
  min-height: 100%; }

h1 {
  font-size: 2em;
  font-family: "Cinzel Decorative", cursive; }

h2 {
  font-size: 1.7em;
  font-family: "Cinzel Decorative", cursive; }
  h2.modal-title {
    text-align: center !important;
    width: 100%;
    margin: auto; }

button {
  font-family: "Roboto", sans-serif; }

p {
  font-family: "Raleway", sans-serif; }

.navbar-brand {
  font-family: "Cinzel Decorative", cursive;
  font-size: 25px; }

.main-heading {
  margin-top: 30px;
  color: #fff;
  text-align: center;
  font-size: 4em; }

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

.orange-color {
  font-size: 20px;
  color: orange; }

.yellow-color {
  font-size: 20px;
  color: yellow; }

.red-color {
  font-size: 40px;
  color: red; }

.green-color {
  font-size: 20px;
  color: green; }

.modal-content {
  background-color: #484848;
  color: #B9B9B9; }

.modal-header {
  border-bottom: 1px solid #B9B9B9; }

.modal-footer {
  border-top: 1px solid #B9B9B9; }

button.close {
  color: #B9B9B9;
  text-shadow: none; }

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 50px; }
  .btn--dark-grey {
    color: #fff;
    background-color: #484848;
    width: 100%; }
    .btn--dark-grey:hover {
      background-color: #686868; }
  .btn--light-grey {
    color: #B9B9B9;
    background-color: transparent;
    border: 2px solid #B9B9B9;
    max-width: 100%; }
    .btn--light-grey:hover {
      background-color: #B9B9B9;
      color: #484848; }
  .btn--danger {
    color: yellow;
    background-color: transparent;
    border: 2px solid red;
    min-width: 100%; }
    .btn--danger:hover {
      background-color: red;
      color: #B9B9B9; }

#navigation {
  display: none; }

.vertical-nav {
  z-index: 50;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  position: fixed;
  top: 0%;
  height: 1080px;
  width: 100px;
  background-color: #181818;
  color: #fff;
  display: block; }
  .vertical-nav__link {
    margin-top: 15px;
    padding: 15px 5px 0 5px;
    text-align: center;
    text-decoration: none;
    color: #B9B9B9;
    display: block;
    width: 100%;
    min-height: 100px; }
    .vertical-nav__link:hover {
      text-decoration: inherit;
      color: #fff; }
  .vertical-nav__icon {
    font-size: 50px; }

@media screen and (max-width: 1350px) {
  .vertical-nav {
    display: none; }

  #navigation {
    display: flex;
    background-color: #181818 !important;
    color: #fff !important;
    font-family: "Roboto", sans-serif; }

  .navbar-brand {
    color: #B9B9B9 !important; }

  .nav-link {
    font-size: 30px;
    color: #B9B9B9 !important; }
    .nav-link:hover {
      color: #fff !important; }
    .nav-link .fas {
      font-size: 30px; }

  .navbar-toggler {
    border-color: transparent; }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(185,185,185)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); } }
.col-inner {
  position: relative;
  border: 4px #000 solid;
  padding: 15px;
  text-align: center;
  margin-top: 30px;
  background-color: rgba(24, 24, 24, 0.9);
  color: #fff; }
  @media screen and (max-width: 992px) {
    .col-inner {
      margin-top: 15px; } }
  .col-inner__selected {
    display: none;
    padding: 15px;
    margin: -15px;
    background: #282828;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 2em; }
    .col-inner__selected--center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 15px; }
    .col-inner__selected--heading-font {
      font-family: "Cinzel Decorative", cursive;
      font-size: 1.1em; }
  .col-inner__btn {
    color: #fff;
    background-color: #484848;
    width: 100%; }
    .col-inner__btn:hover {
      background-color: #686868; }
  .col-inner__img {
    width: 60%;
    margin: auto; }

.game-container {
  position: relative;
  width: 100%; }

.board {
  width: 1000px;
  margin: auto;
  margin-top: 70px;
  height: 100%; }
  .board__row {
    margin-top: 4px; }
  .board__square {
    height: 150px;
    width: 150px;
    padding: 10px;
    background-color: #B9B9B9;
    display: inline-block;
    margin: 0; }
    .board__square--black {
      background-color: #181818;
      color: #fff; }
    .board__square--trap {
      background-color: orange; }
  .board__token {
    width: 80%;
    vertical-align: middle;
    margin: auto;
    display: block; }
    .board__token--two-tokens {
      position: relative;
      left: 22%;
      bottom: 22%;
      width: 55%;
      margin: 0; }
  .board__btn {
    height: 50px;
    width: 200px; }
    .board__btn--save-game {
      position: absolute;
      top: 650px;
      left: 100px;
      background-color: teal; }
    .board__btn--new-game {
      position: absolute;
      top: 715px;
      left: 100px;
      background-color: red; }

.overview {
  color: #B9B9B9;
  text-align: center;
  position: absolute;
  padding: 15px;
  top: 0;
  right: 15px;
  height: 600px;
  width: 450px;
  background-color: #181818; }
  .overview__player {
    width: 48%;
    margin: auto;
    display: inline-block; }
  .overview__computer {
    width: 48%;
    margin: auto;
    display: inline-block; }
  .overview__img {
    display: block;
    width: 60%;
    margin: auto; }
  .overview__players {
    font-size: 30px;
    color: #585858; }
  .overview__dice-icon-p1 {
    position: absolute;
    display: block;
    left: 75px;
    bottom: 200px;
    font-size: 80px;
    text-align: left; }
  .overview__dice-icon-p2 {
    position: absolute;
    display: none;
    right: 75px;
    bottom: 200px;
    font-size: 80px;
    text-align: left; }
  .overview__dice-nr {
    color: #000;
    text-align: center;
    font-size: 65px;
    width: 30%;
    height: 100px;
    background-color: #B9B9B9;
    margin: 15px;
    position: absolute;
    left: 140px;
    bottom: 65px; }
  .overview__dice-btn {
    width: 30%;
    height: 50px;
    position: absolute;
    bottom: 15px;
    left: 155px; }
