.col-inner{
	position: relative; 
	border: 4px $black solid;
	padding: 15px;
	text-align: center;
	margin-top: 30px;
	background-color: $dark-grey-o;
	color: $white;

	@media screen and (max-width: $break-medium){
		margin-top: 15px;
	}
	
	&__selected{
		display: none;
		padding: 15px;
		margin: -15px;
		background: $darker-light-grey;
		position: absolute;
		height: 100%;
		width: 100%;
		//opacity:0.95;
		font-size: 2em;
		
		&--center{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			padding: 15px;
		}
		
		&--heading-font{
			font-family: $h1-font;
			font-size: 1.1em;
		}
	}
	
	&__btn{ 
		color: $white;
		background-color: $lighter-dark-grey;
		width: 100%;
		&:hover{
			background-color: $grey;
		}
	}
	
	&__img{
		width: 60%;
		margin: auto;
	}
} 


