.board{
	width: 1000px;
	margin: auto;
	margin-top: 70px;
	height: 100%;
	
	&__row{
		margin-top: 4px;
	}
	
	&__square{
		height: 150px;
		width: 150px;
		padding: 10px;
		background-color: $light-grey;
		display: inline-block;
		margin: 0;
			
		&--black{
			background-color: $dark-grey;
			color: $white;
		}
		&--trap{
			background-color: $orange;
		}
	}
	
	&__token{
		width: 80%;
		vertical-align: middle;
		margin: auto;
		display: block;
		&--two-tokens{
			position: relative;
			left: 22%;
			bottom: 22%;
			width: 55%;
			margin: 0;
		}
	}
	&__btn{
		height: 50px;
		width: 200px;
		&--save-game{
			position: absolute;
			top:650px;
			left: 100px;
			background-color: $teal;
		}
		&--new-game{
			position: absolute;
			top: 715px;
			left: 100px;
			background-color: $red;
		}
		&--dice{
			position: absolute;
			top: 700px;
			right: 200px;
			width: 100px;
		}
	}
	&__dice-nr{
		background-color: $white;
		text-align: center;
		position: absolute;
		font-size: 4em;
		top: 580px;
		right: 200px;
		height: 100px;
		width: 100px;
	}
}

.popover{
	margin-bottom: 50px;
}


