body{
	position: relative;
	//background-color: $grey;
	background-image: url("../img/photos/forest-1.jpg");
}

html, body{
	min-height: 100%;
}

h1{
	font-size: 2em;
	font-family: $h1-font;
}

h2{
	font-size: 1.7em;
	font-family: $h1-font;
	&.modal-title{
		text-align: center !important;
		width: 100%;
		margin: auto;
	}
}

button{
	font-family: $btn-font;
}

p{
	font-family: $p-font; 
}

.main-heading{
	margin-top: 30px;
	color: $white;
	text-align: center;
	font-size: 4em;
} 

.btn{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.orange-color{ 
	font-size: 20px;
	color: $orange;
}

.yellow-color{
	font-size: 20px;
	color: $yellow;
}
 
.red-color{
	font-size: 40px;
	color: $red;
} 

.green-color{
	font-size: 20px;
	color: $green;
}