body{
	position: relative;
	//background-color: $grey;
	background-image: url("../img/photos/forest-1.jpg");
}

html, body{
	min-height: 100%;
}

h1{
	font-size: 2em;
	font-family: $h1-font;
}

button{
	font-family: $btn-font;
}

p{
	font-family: $p-font; 
}

.main-heading{
	margin-top: 30px;
	color: $white;
	text-align: center;
	font-size: 4em;
} 

.red-color{
	color: $red;
} 