.modal-content{
	background-color: $lighter-dark-grey;
	color: $light-grey;
}
 
.modal-header{
	border-bottom: 1px solid $light-grey;
}

.modal-footer{
	border-top: 1px solid $light-grey;
}

button.close{
	color:$light-grey;
	text-shadow: none;
}