@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway|Roboto');

$black: #000;
$white: #fff;
$white-o: rgba(255,255,255,0.8);
$green: green;
$red: red;
$teal: teal;
$yellow: yellow;
$orange: orange;
$dark-grey: #181818;
$dark-grey-o: rgba(24,24,24,0.9);
$lighter-dark-grey: #484848;
$smoke-grey: #585858;
$darker-light-grey: #282828;
$gold: gold;

$grey:#686868;

$light-grey: #B9B9B9;
$light-grey-o: rgba(185, 185, 185, 0.95);

$h1-font: 'Cinzel Decorative', cursive;
$p-font: 'Raleway', sans-serif;
$btn-font: 'Roboto', sans-serif;

$brake-xxs: 371px;
$break-medium: 992px;
$break-large: 1350px;
$hd-screens: 1670px;
